
.post-item__container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: #fff; 
    padding: 5rem 4rem;
    border: 1px solid rgba(229, 243, 245, 0.5);
    margin: .7rem;
    width: 23rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    
}




.post-item__wrapper {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    justify-items: center;
    align-items: center;
}

.post-item__wrapper h3 {
    color: white;
    text-align: center;
}

.read-links__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.view-link {
    padding: 1.2rem;
    background-color: lightskyblue;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat';


}

.btn-read__more {
    border: none;
    background: none;
    padding: .3rem;
    font-size: 16px;
    color: white;
    font-family: 'Montserrat';
    margin: .6rem;
}
.link {
    text-decoration: none;
    color: white;
}

.view-link:hover {
    background-color: rgb(55, 139, 190);
    transform: translateY(-.1rem);

}

.fa-readme {
    color: rgb(234, 233, 247);
    opacity: .7;
    margin: .6rem;
}

.fa-readme:hover {
    color: rgb(86, 218, 235);


}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.03);}

.grow2 { transition: all .2s ease-in-out; }
.grow2:hover { transform: scale(1.1);}

@media screen and (max-width: 768px) {
    .post-item__container {
        width: 20rem;
        
    }
    
}

@media screen and (max-width: 500px) {
    .post-item__container {
        width: 18rem;
        padding: 3rem 2rem;

        
    }
    
}