.posts-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}

.container-blog {
    padding: 4rem 5rem;
}

.blog-header {
    color: white;
    text-align: center;
}

.add-post-container {
    padding: 1rem;
    display: flex;
    flex-direction: flex-start;
    
}

.add-post-link {
    padding: 1rem;
    background-color: lightcoral;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    border-radius: 3px;
}

.add-post-link:hover {
    background-color: rgb(206, 79, 79);
    transform: translateY(-.1rem);

}

@media screen and (max-width: 1024px) {
    .container-blog {
        padding: 5rem 2rem;
    }
    .posts-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .posts-wrapper {
        grid-template-columns: 1fr;
    }
}


