.viewpost-wrapper {
    padding: 5rem 10rem;
}

.viewpost-container {
    padding: 3rem 4rem;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2.3;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    width: 50rem;
    color: white;

}

.back-to-posts__wrapper {
    display: flex;
    justify-content: flex-start;
    
}

.back-to-posts__btn {
    padding: 1.2rem;
    background-color: rgb(89, 135, 163);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 1rem;
    align-self: flex-start;
    font-family: 'Montserrat';

}

.back-to-posts__link {
    color: white;
    text-decoration: none;
}

.back-to-posts__btn:hover {
    background-color: rgb(103, 114, 121);
    transform: translateY(-.1rem);

}

.header-container {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    margin: 2rem;
    color: rgb(255, 255, 255);
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button {
    padding: 1rem;
}

.btn-edit,
.btn-delete {
    padding: 1.2rem;
    background-color: lightskyblue;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 1rem;
    font-family: 'Montserrat';
    margin: 1.5rem;


}

.btn-delete {
    background-color: rgb(250, 135, 135);
    text-decoration: none;

}

.btn-edit:hover {
    background-color: rgb(85, 152, 194);
    transform: translateY(-.1rem);
}
.btn-delete:hover {
    background-color: rgb(177, 43, 43);
    transform: translateY(-.1rem);

}