.viewpost-wrapper {
    padding: 5rem 10rem;
    background-color: rgb(43, 37, 37);
    width: 100vw;
    display: flex;
    justify-content: center; 

}

.viewpost-container {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    width: 40rem;
    color: white;


}

.viewpost-header {
    padding: 2rem 3rem;
    width: 100%;

}

.back-to-posts__wrapper {
    display: flex;
    justify-content: flex-start;
    
}

.back-to-posts__container {
    padding: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat';

}

.back-to-posts__link {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.back-to-posts__text {
    margin-left: 1rem;
}
.back-to-posts__link:hover {
    color: rgb(211, 182, 182);
    transform: translateY(-.1rem);

}



.header-container {
    display: flex;
    justify-content: space-evenly;
}

h3 {
    margin: 2rem;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.viewpost-body {
    background: rgb(247, 243, 243);
    padding: 2rem 2rem;
}

.viewpost-description {
    color: rgb(14, 13, 13);
    line-height: 1.8;

}
.buttons-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

button {
    padding: 1rem;
}

.btn-edit,
.btn-delete {
    padding: 1.2rem;
    background-color: rgb(81, 165, 199);
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin: 1rem;
    font-family: 'Montserrat';
    margin: 1.5rem;
    width: 8rem;


}

.btn-delete {
    background-color: #ee2031;
    text-decoration: none;

}

.btn-edit:hover {
    background-color: rgb(85, 152, 194);
    transform: translateY(-.1rem);
}
.btn-delete:hover {
    background-color: rgb(177, 43, 43);
    transform: translateY(-.1rem);

}