.form {
    padding: 4rem 4rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.9;
    border: 3px solid #fff;
    border-radius: 10px;
}

.input-topics {
    display: flex;
    justify-content: center;
    margin: 1rem;
    align-items: center;
}


input {
    width: 35rem;
    padding: .9rem;
    margin-left: 1rem;
}
textarea {
    width: 50rem;
    height: 20rem;
}
