
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgba(112, 216, 241, 0.7);
  --yellow: rgba(255, 231, 15, 0.7);
  --green: rgba(30, 209, 149, 0.7);
  --violet: rgba(157, 33, 168, 0.7);
  --brown: rgba(133, 26, 44, 0.7);
}
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
  padding: 1rem;
  list-style: none;
 
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none; 
}
.btn {
  background-color: #fff;
  color: rgb(61, 170, 155); 
  padding: 1rem;
  font-size: 100%;
  font-weight: 700;
  border-radius: 1rem;
  border-style: none;
  cursor: pointer;
  margin: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}


.nav-cancel {
  text-decoration: none;
}
