
.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding: 4rem 2rem;*/
  background-image: url('./components/assets/imgs/back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.content-wrapper {
  padding: 1rem;
  list-style: none;
 
}

.nav-cancel {
  text-decoration: none;
}
/* .head {
background-color: #fff;
padding: 1rem;
border-radius: 10px;
margin-bottom: 2rem;
}
.text-box {
  color: #e70971; 
  font-size: 120%;
  font-weight: 900; 
  padding: 0.5rem;
  
}
.text-white {
  color: #fff;
  font-weight: 700;
}
.h1 {
  margin: 2rem;
  font-size: 400%;
  width: 100%;
  color: #e70971;
} */
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none; 
}
.btn {
  background-color: #fff;
  color: rgb(61, 170, 155); 
  padding: 1rem;
  font-size: 100%;
  font-weight: 700;
  border-radius: 1rem;
  border-style: none;
  cursor: pointer;
  margin: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}
